# Pandas

# 2. Pandas 주요 기능

In [2]:
import numpy as np
import pandas as pd

### DataFrame 객체의 열 추가

In [10]:
np.random.seed(0)

df = pd.DataFrame(np.random.randint(10, size=(3, 4)), columns=['col1', 'col2', 'col3', 'col4'])
df

   col1  col2  col3  col4
0     5     0     3     3
1     7     9     3     5
2     2     4     7     6

In [11]:
df["total"] = df.sum(axis=1)
df

   col1  col2  col3  col4  total
0     5     0     3     3     11
1     7     9     3     5     24
2     2     4     7     6     19

- 연산을 통한 새로운 column 추가

- 가로 방향 => axis=1 

- total이라는 이름으로 열 추가

### DataFrame 객체의 행과 열 제거

- axis를 이용하여 행과 열 구분

- drop()을 이용해 제거

In [12]:
df = df.drop(columns=["col4", "total"], axis=1)
df

   col1  col2  col3
0     5     0     3
1     7     9     3
2     2     4     7

In [13]:
df.drop(index=1, axis=0)

   col1  col2  col3
0     5     0     3
2     2     4     7

### DataFrame 객체의 널 값 연산

- np.nan
    - not a number
    - Null
    - 널 값 연산

In [21]:
df = pd.DataFrame([[1, 2, 3],
                   [4, 5, 6],
                   [np.nan, 8, 9],
                   [10, np.nan, 12]])

df

      0    1   2
0   1.0  2.0   3
1   4.0  5.0   6
2   NaN  8.0   9
3  10.0  NaN  12

In [19]:
df.dropna(axis=0)

     0    1  2
0  1.0  2.0  3
1  4.0  5.0  6

In [20]:
df.dropna(axis=1)

    2
0   3
1   6
2   9
3  12

- axis=0 이면 행을 지움

- axis=1 이면 열을 지움

In [22]:
df.fillna(df.mean(axis=0))

      0    1   2
0   1.0  2.0   3
1   4.0  5.0   6
2   5.0  8.0   9
3  10.0  5.0  12

- fillna
    - naN에 값 채우기

### DataFrame 객체의 조인

- 2개의 DataFrame 병합(조인)

In [37]:
df1 = pd.DataFrame({
    'name': ['김씨', '강씨', '이씨', '박씨'],
    'dept': ['연구개발', '영업', '연구개발', '인사']})

df2 = pd.DataFrame({
    'emp_name': ['강씨', '이씨', '김씨', '김씨'],
    'project': ['S', 'D', 'A', 'S']})

In [38]:
pd.merge(df1, df2, left_on='name', right_on='emp_name').drop('emp_name', axis=1)

  name  dept project
0   김씨  연구개발       A
1   김씨  연구개발       S
2   강씨    영업       S
3   이씨  연구개발       D

- merge() 함수 사용

- 연결할 방향 지정
    - df1의 name, df2의 emp_name 
    - left_on, right_on

- 연결 후 중복된 column 제거하기
    - 여기서는 이름(emp_name)을 제거

<br/>

- inner join 방식

    - 맵핑할 대상이 없는 경우에는 제외시킴
    - 박씨가 제외되었음

In [43]:
pd.merge(df1, df2, how='outer', left_on='name', right_on='emp_name').drop('emp_name', axis=1)

  name  dept project
0   김씨  연구개발       A
1   김씨  연구개발       S
2   강씨    영업       S
3   이씨  연구개발       D
4   박씨    인사     NaN

- how
    - outer, left, right

- outer join
    - 없는 데이터는 nan으로 채움

- 누락된 데이터가 없게 출력 됨